#editor {
    width: 100%;
    height: 600px;
    font-family: "Le Monde Courrier"
}
#preview {
    border-style: dashed;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 5px;
    height: 610px;
}