body {
	background: url(../images/gradient_texture.png) repeat;
}

.navbar {
    margin-bottom: 0px;
}

.navbar .brand {
    font-family: "Le Monde Courrier";
    font-weight: bold;
    font-size: 30px;
    padding: 6px 20px 2px;
}

div .nav {
    font-family: "Le Monde Courrier";
    font-weight: bold;
}

div#home #entries {
    background-color: #F8F8F8;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

div.large-logo {
    top: 50%;
    left: 0;
    width: 100%;
    position: fixed;
    font-family: "Le Monde Courrier";
    font-weight: bold;
    font-size: 300px;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.8);
}

article{
    border-bottom: 1px dashed #ccc;
    padding: 20px 20px 20px 20px;
}

article header p, time, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

article time {
    text-transform: uppercase;
    color: #CCCCCC;
    font-family: "PT Serif"
}

article h1 {
    text-transform: uppercase;
    font-family: "PT Serif";
    font-size: 40px;
}

article div.article-content {
    font-family: "Le Monde Courrier 2";
    font-size: 16px;
    margin-top: 20px;
}

#archive-entries article {
    position: relative;
    padding-left: 6em;
    padding-bottom: .7em;
}

#archive-entries article time {
    position: absolute;
    top: 30px;
    left: 0;
}


ul.pager {
    margin: 0;
    padding: 5px 20px;
}

/* ================== For Editor ================== */
div.editor {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative; /* Fix the issue that preview could not compute correct width as it's position is absolute*/
}

div.editor div.inputs {
    width: 49%;
    display: inline-block;
}

div.editor div.preview {
    margin-left: 2%;
    width: 49%;
    height: 700px;
    border-style: dashed;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 5px;
    font-family: "Le Monde Courrier 2";
    display: inline-block;
    padding: 10px;
    position: absolute;
    box-sizing: border-box; /* to include border width when computing width */
}

div.editor div.btn-group {
    text-align: right;
    display: block;
}

div.inputs input.title {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    line-height: 28px;
    box-shadow: 0px 0px 6px 1px rgba(192,192,192,0.7) inset;
    display: block;
    box-sizing: border-box; /* to include padding when computing width */
    height: 35px;
    font-family: "Le Monde Courrier 2";
    margin-bottom: 0;
}

div.inputs textarea.content {
    width: 100%;
    height: 650px;
    font-family: "Le Monde Courrier 2";
    display: block;
    box-sizing: border-box;  /* to include padding when computing width */
    margin-top: 15px;
    resize: none;
    box-shadow: 0px 0px 6px 1px rgba(192,192,192,0.7) inset;
    padding: 10px;
    font-size: 16px;
}
div.inputs input.title:focus{
    box-shadow: 0px 0px 6px 1px rgba(0,96,224,0.5) inset;
}
div.inputs textarea.content:focus{
    box-shadow: 0px 0px 6px 1px rgba(0,96,224,0.5) inset;
}



