body {
	background: url(../images/gradient_texture.png) repeat;
}

div,input,textarea {
    box-sizing: border-box; /* to include padding/border-width when computing width */
}
/* ================== Navigation ================== */
.navbar {
    margin-bottom: 0px;
}

.navbar .brand {
    font-family: "Le Monde Courrier";
    font-weight: bold;
    font-size: 30px;
    padding: 6px 20px 2px;
}

div .nav {
    font-family: "Le Monde Courrier";
    font-weight: bold;
}

div.large-logo {
    top: 50%;
    left: 0;
    width: 100%;
    position: fixed;
    font-family: "Le Monde Courrier";
    font-weight: bold;
    font-size: 300px;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.8);
}

/* ================== Tab Pane ================== */
div.tab-pane {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}
/* ================== Post Entry ================== */
article.title-entry {
    border-bottom: 1px dashed #CCCCCC;
}
article.title-entry time,h1 {
    display: inline-block;
    text-transform: uppercase;
    font-family: "PT Serif"
}
article.title-entry time {
    font-size: 20px;
    color: #999999;
    margin-right: 20px;
}
article.title-entry h1 {
    font-size: 24px;
    margin: 0px;
}
/* ================== Admin Pane ================== */
div#admin-pane article:first-child {
    border-top: 1px dashed #CCCCCC;
}
article.title-entry div.header {
    display: inline-block;
    width: 85%;
}
article.title-entry div.btn-group {
    width: 10%;
    margin: 0px;
    position: absolute;
    height: 40px;
    text-align: right;
}

article.title-entry button.btn {
    top: 5px;
}
/*
div#home #entries {
    background-color: #F8F8F8;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

article{
    border-bottom: 1px dashed #ccc;
    padding: 20px 20px 20px 20px;
}

article header p, time, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

article time {
    text-transform: uppercase;
    color: #CCCCCC;
    font-family: "PT Serif"
}

article h1 {
    text-transform: uppercase;
    font-family: "PT Serif";
    font-size: 40px;
}

article div.article-content {
    font-family: "Le Monde Courrier 2";
    font-size: 16px;
    margin-top: 20px;
}

#archive-entries article {
    position: relative;
    padding-left: 6em;
    padding-bottom: .7em;
}

#archive-entries article time {
    position: absolute;
    top: 30px;
    left: 0;
}
*/

ul.pager {
    margin: 0;
    padding: 5px 20px;
}

/* ================== Editor ================== */
div.tab-pane#editor-pane {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative; /* Fix the issue that preview could not compute correct width as it's position is absolute*/
}

div.editor div.inputs {
    width: 49%;
    display: inline-block;
}

div.editor div.preview {
    margin-left: 2%;
    width: 49%;
    height: 700px;
    border-style: dashed;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 5px;
    font-family: "Le Monde Courrier 2";
    display: inline-block;
    padding: 10px;
    position: absolute;
}

div.editor div.btn-group {
    text-align: right;
    display: block;
}

div.inputs input.title {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    line-height: 28px;
    box-shadow: 0px 0px 6px 1px rgba(192,192,192,0.7) inset;
    display: block;
    height: 35px;
    font-family: "Le Monde Courrier 2";
    margin-bottom: 0;
}

div.inputs textarea.content {
    width: 100%;
    height: 650px;
    font-family: "Le Monde Courrier 2";
    display: block;
    margin-top: 15px;
    resize: none;
    box-shadow: 0px 0px 6px 1px rgba(192,192,192,0.7) inset;
    padding: 10px;
    font-size: 16px;
}
div.inputs input.title:focus{
    box-shadow: 0px 0px 6px 1px rgba(0,96,224,0.5) inset;
}
div.inputs textarea.content:focus{
    box-shadow: 0px 0px 6px 1px rgba(0,96,224,0.5) inset;
}



